# M Umer Farooq

In [4]:
import pandas as pd

In [6]:
dataset = pd.read_csv('Daily Household Transactions.csv')

In [8]:
dataset.head()

,Date,Mode,Category,Subcategory,Note,Amount,Income/Expense,Currency
0,20/09/2018 12:04:08,Cash,Transportation,Train,2 Place 5 to Place 0,30.0,Expense,INR
1,20/09/2018 12:03:15,Cash,Food,snacks,Idli medu Vada mix 2 plates,60.0,Expense,INR
2,19/09/2018,Saving Bank account 1,subscription,Netflix,1 month subscription,199.0,Expense,INR
3,17/09/2018 23:41:17,Saving Bank account 1,subscription,Mobile Service Provider,Data booster pack,19.0,Expense,INR
4,16/09/2018 17:15:08,Cash,Festivals,Ganesh Pujan,Ganesh idol,251.0,Expense,INR

In [10]:
dataset['Mode']

0                       Cash
1                       Cash
2      Saving Bank account 1
3      Saving Bank account 1
4                       Cash
               ...
594              Credit Card
595    Saving Bank account 1
596                     Cash
597    Saving Bank account 1
598    Saving Bank account 1
Name: Mode, Length: 599, dtype: object